/**
* 参考:https://www.cnblogs.com/HONGYE1994/p/8012093.html
* 悬停出现中间到两边展开的border-bottom 元素要有position: relative;
* 下划线的跟内容的padding,下划线的颜色,动画时间
*/
/* stylelint-disable */
@mixin hoverLine($paddingBottom: 5px, $bottomColor: #1890ff, $duration: 300ms) {
  position: relative;
  padding-bottom: $paddingBottom;
  text-decoration: none;
  list-style: none;

  &:before,
  &:after,
  & > .ui-border-element:before,
  & > .ui-border-element:after {
    position: absolute;
    content: '';
  }

  &:after {
    right: 50%;
    bottom: 0;
    left: 50%;
    border-bottom: 2px solid $bottomColor;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0, 0.98, 0.51, 0.93);
    transition-duration: $duration;
    transition-property: all;
  }

  &:hover:after {
    right: 0;
    left: 0;
  }

  &:not(:hover):after {
    transition-delay: 0s;
  }
}

/**
* 溢出省略号
* @param {Number} 行数
*/
@mixin ellipsis($rowCount: 1) {
  @if $rowCount <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $rowCount;
    -webkit-box-orient: vertical;
  }
}
