/**
* 定义全局scss变量
* @import "/src/styles/_variables";
*/
$primary-color: #09a8db;
$primary-text-color: rgba(0, 0, 0, 0.7);
$container-max-width: 1200px; //外部容器最大宽度

$light-blue: #40a9ff; //亮蓝色 #1e80ff
$deep-blue:#1d7dfa; // 深蓝色，用于字体hover的color

/* 阴影 */
$box-shadow-base: 0 2px 6px rgba(0, 0, 0, 0.15); // 浮层阴影
$popover-shadow: 0 12px 12px 0 #6e78824c; // 气泡卡片的阴影

/* 背景 */
$hover-bg: #e3e4e5;
$card-bg: #ffffff;
